.principalAdminContainerHeader {
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 10vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  flex-direction: row;
  align-items: center;
  color: #f28d8d;
  font-family: "Mali", cursive;
}

.logoutButton {
  background: none;
  border: none;
  font-family: "Mali", cursive;
  font-size: 35px;
  letter-spacing: 0;
  text-align: center;
  color: #f28d8d;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

/* Responsive */

@media (max-width: 1000px) {
  .principalAdminContainerHeader{
    font-size: 0.9rem;
    height: 8vh;
  }
}
