.principalContainerUserProfile {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.dataContainerUserProfile {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: #f6e8e8;
	height: 75%;
	width: 90vw;
}

.userDataForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.readOnlyText {
  background-color: #ffe5bc;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
}

.userDataField {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.userDataField label {
  font-family: "Mali", cursive;
  color: #ff9999;
}

.userDataField p{
	  font-family: "Mali", cursive;
  color: #2f2f2f;
  background-color: #ffe5bc;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.userIconForm {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #ffe5bc;
	display: flex;
	align-items: center;
	justify-content: center;
}

.userIconForm span {
	font-size: 6rem;
	color: #2f2f2f;
}

.userDataFormInputs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.userDataFormInputs input {
	width: 25vw;
	padding: 10px;
	margin: 4px 0;
	background-color: #fec1c1;
	border: 1px solid #ff9999;
	border-radius: 4px;
}

.userDataFormInputs input::placeholder {
	background: #fec1c1;
	font-family: "Mali", cursive;
	color: #faeae4;
}

.userAdressesForm {
	padding-left: 20px;
	border-left: 2px dashed #ff9999;
	height: 90%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.userAdressesForm h2 {
	font-family: "Mali", cursive;
	color: #ff9999;
}

.userAdressesInformation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 5px;
	background-color: #ffe5bc;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
	width: 100%;
	max-width: 70vh;
	max-height: 40vh;
	overflow-y: auto;
}

.userAdresses {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 20px;
    padding: 10px;
    width: 90%;
    max-width: 70vh;
	border-bottom: 2px dashed #ff9999;
}

.userAdresses p {
    font-family: "Mali", cursive;
    color: #ff9999;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 80%; 
    transition: all 0.3s ease;
    cursor: pointer; 
}

.userAdresses p:hover {
    white-space: normal; 
    overflow: visible; 
    text-overflow: clip; 
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.userAdressesButtons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.userAdressesButtons button {
	padding: 10px 10px;
	background-color: #ff9999;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	transition: transform 0.2s ease, color 0.2s ease;
}

.userAdressesButtons button:hover {
	transform: scale(1.05);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.userAdressesButtons span {
	font-size: 1.2rem;
}

.button button {
	padding: 10px 10px;
	background-color: #ffe5bc;
	border: none;
	border-radius: 4px;
	color: #ff9999;
	cursor: pointer;
	font-family: "Mali", cursive;
	box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.25);
	transition: transform 0.2s ease, color 0.2s ease;
}

.button button:not(:disabled):hover {
	transform: scale(1.05);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.noDirections{
	font-family: "Mali", cursive;
}

.button button:disabled {
	cursor: not-allowed;
	box-shadow: none;
	background-color: #e0e0e0;
	color: #999;
	opacity: 0.6;
	transform: none;
}

.inputContainer {
	position: relative;
	width: 100%;
	margin-bottom: 18px;
}

.error {
	position: absolute;
	bottom: -20px;
	left: 0;
	font-size: 0.8rem;
	margin: 0;
	width: 100%;
	height: 20px;
	font-family: "Mali", cursive;
}

/* Responsive */
@media (max-width: 450px) {
	.principalContainerUserProfile {
		height: 100%;
	}

	.dataContainerUserProfile {
		background-color:#f9f3f3;
		grid-template-columns: 1fr;
		height: 96%;
		align-items: start;
	}

	.userDataForm {
		gap: 10px;
	}

	.userIconForm{
		width: 50px;
		height: 50px;
	}

	.userIconForm span {
		font-size: 3rem;
	}
	
	.userDataFormInputs input {
		width: 80vw;
	}
	
	.userAdressesForm {
		margin-top: 5px;
		border-top: 2px dashed #ff9999;
		border-left: none;
		height: 90%;
		padding: 2%;
		justify-content: start;
	}

	.userAdressesInformation {
		height: 23vh;
		padding: 10px;
	}

	.userAdresses {
		width: 85vw;
	}

	.userAdresses p {
		font-size: 0.8rem;
		width: 59vw;
	}

	.userAdressesButtons {
		gap: 5px;
	}
}