.principalContainerLandingBrandsExhibitor {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
	height: 25vh;
}

.dataContainerLandingBrandsExhibitor {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	width: 90%;
	height: 90%;
}

.titleContainerLandingBrandsExhibitor {
	height: 90%;
	width: 20%;
	font-weight: 400;
	font-size: 2rem;
	font-family: "Mali", cursive;
	letter-spacing: 0;
	background-color: #F6E8E8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.brandsExhibitorContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #FAEDD8;
	gap: 1rem;
	width: 80%;
	height: 80%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.brandExposerContainer {
	height: 90%;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.brandExposerContainer button:hover {
	transform: scale(1.05);
	color: #e47070;
	cursor: pointer;
}

.logoButton {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.logoButton img {
	width: 80%;
	height: auto;
	object-fit: contain;
}

/* Responsive */
@media (max-width: 450px) {
	.principalContainerLandingBrandsExhibitor {
		height: 35vh;
		flex-direction: column;
	}

	.dataContainerLandingBrandsExhibitor {
		flex-direction: column;
		align-items: center;
		height: 35vh;
	}

	.titleContainerLandingBrandsExhibitor {
		width: 100%;
		font-size: 0.9rem;
		height: 5vh;
		text-align: center;
		margin-bottom: 1vh;
	}

	.brandsExhibitorContainer {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.5rem;
		height: 29vh;
		padding: 1vh;
		box-sizing: border-box;
	}

	.brandExposerContainer {
		width: 100%;
		height: 12vh;
	}


}

@media (max-width: 1000px) and (min-width: 450px) {
	.dataContainerLandingBrandsExhibitor {
		flex-direction: column;
		align-items: center;
		height: 25vh;
	}

	.titleContainerLandingBrandsExhibitor {
		width: 100%;
		font-size: 1rem;
		height: 5vh;
		text-align: center;
		margin-bottom: 1vh;
	}

	.brandsExhibitorContainer {
		width: 100%;
		height: 65%;
	}

	.logoButton img{
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 1350px) and (min-width: 1000px){
	.titleContainerLandingBrandsExhibitor{
		font-size: 1.5rem;
	}
}
