.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.principalContainerEditProductAdmin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  padding: 20px;
  background-color: #faedd8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.containerDataEditProductAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Mali", cursive;
}

.containerTitleEditProductAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerTitleEditProductAdmin h1 {
  font-size: 1.5rem;
}

.containerInputEditProductAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerInputEditProductAdmin input {
  width: 25vw;
  padding: 10px;
  margin: 5px 0;
  background-color: #fec1c1;
  border: 1px solid #ff9999;
  color: #faeae4;
  font-family: "Mali", cursive;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 14px;
}

.containerInputEditProductAdmin input::placeholder {
  background: #fec1c1;
  font-family: "Mali", cursive;
  color: #faeae4;
}

.containerInputEditProductAdmin select {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 14px;
  border: 1.5px solid #ff9999;
  border-radius: 8px;
  background: #ffbcbc;
  color: #faeae4;
  font-size: 1rem;
  font-family: "Mali", cursive;
  transition: border 0.2s, box-shadow 0.2s;
  outline: none;
}

.containerInputEditProductAdmin select:focus {
  border-color: #fa6d6d;
}

.containerInputEditProductAdmin option {
  background: #faeae4;
  color: #ff9999;
  font-family: "Mali", cursive;
}

.containerCheckboxEditProductAdmin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 88%;
}

.containerCheckboxEditProductAdmin label {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 14px;
  background-color: #fec1c1;
  border: 1px solid #ff9999;
  border-radius: 8px;
  font-family: "Mali", cursive;
  color: #faeae4;
  gap: 10px;
}

.containerButtonEditProductAdmin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  gap: 5%;
}

.containerButtonEditProductAdmin button {
  padding: 10px 10px;
  background-color: #ff9999;
  border: none;
  border-radius: 4px;
  color: #faeae4;
  cursor: pointer;
  font-family: "Mali", cursive;
  width: 100%;
}

/* Responsive */
@media (max-width: 450px) {
  .principalContainerEditProductAdmin {
    width: 75vw;
  }

  .containerTitleEditProductAdmin h1 {
    font-size: 0.9rem;
  }

  .containerInputEditProductAdmin {
    width: 90%;
  }

  .containerInputEditProductAdmin input {
    width: 91%;
  }

  .containerCheckboxEditProductAdmin {
    width: 95%;
  }

  .containerCheckboxEditProductAdmin label {
    width: 86%;
  }

  .containerButtonEditProductAdmin {
    width: 70%;
    gap: 12px;
  }
}

@media (max-width: 1000px) and (min-width: 450px) {
  .principalContainerEditProductAdmin {
    width: 75vw;
  }
  .containerInputEditProductAdmin {
    width: 90%;
  }
  .containerInputEditProductAdmin input {
    width: 95%;
  }

  .containerCheckboxEditProductAdmin {
    width: 90%;
  }

  .containerCheckboxEditProductAdmin label {
    width: 95%;
  }

  .containerButtonEditProductAdmin {
    width: 70%;
    gap: 12px;
  }
}
