.principalContainerCartScreenComponents {
  height: 70vh;
}

.dataContainerCartScreenComponents {
  background-color: #ffe5bc;
  display: flex;
  height: 90%;
  margin: 30px;
  justify-content: space-evenly;
  border-radius: 0.4rem;
}

.cartSideContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 15px;
}

.cartSideContainerTitle {
  color: #ff9797;
  font-family: "Mali", cursive;
  margin-top: 10px;
}

.cartSideContainerCards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: 70%;
  width: 95%;
  padding: 10px;
}

.summarySideContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 15px;
}

.summarySideContainerTitle {
  color: #ff9797;
  font-family: "Mali", cursive;
  margin-top: 10px;
}

.summarySideContainerDitails {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 60%;
  width: 65%;
  padding: 10px;
  justify-content: space-evenly;
  align-self: center;
}

.summarySideContainerDitailsLine {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 70%;
  width: 65%;
  padding: 10px;
  justify-content: start;
  color: #ff9797;
  font-family: "Mali", cursive;
}

.summarySideContainerDitailsLine p {
  border-bottom: 2px dotted #ff9797;
  padding: 5px;
}

.summarySideContainerPrice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 70%;
  width: 65%;
  padding: 10px;
  justify-content: start;
  color: #ff9797;
  font-family: "Mali", cursive;
}

.summarySideContainerPrice p {
  padding: 5px;
  border-bottom: 2px dotted #ff9797;
}

.summarySideContainerButton {
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: #ffe5bc;
  font-family: "Mali", cursive;
  background-color: #ff9999;
  border: none;
}

.summarySideContainerButton:hover {
  background-color: #faedd8;
  color: #ff9999;
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 450px) {
  .principalContainerCartScreenComponents {
    height: 100%;
  }

  .dataContainerCartScreenComponents {
    flex-direction: column;
    margin: 10px;
    height: 97%;
    max-height: 97%;
    align-items: center;
  }

  .dataContainerCartScreenComponents h2 {
    font-size: 1.5rem;
    margin: 0 10px;
  }

  .cartSideContainer {
    width: 100%;
    height: 60%;
    gap: 0;
    justify-content: space-around;
  }

  .cartSideContainerCards {
    height: 80%;
    max-height: 80%;
  }

  .summarySideContainer {
    height: 35%;
    width: 100%;
    margin-bottom: 10px;
    gap: 3px;
    justify-content: start;
  }

  .summarySideContainerTitle {
    margin: 0;
    margin-left: 10px;
  }

  .summarySideContainerDitails {
    max-height: 100%;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 0;
    gap: 0;
  }

  .summarySideContainerButton {
    width: 50%;
    font-size: .8rem;
    padding: 5px;
    align-self: center;
  }
}
