.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.principalContainerRegister{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    padding: 20px;
    background-color: #FAEDD8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.containerDataRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Mali", cursive;
}

.containerTitleRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.containerInputRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerInputRegister input{
    width: 25vw;
    padding: 10px;
    margin: 5px 0;
    background-color: #FEC1C1;
    border: 1px solid #FF9999;
    border-radius: 4px;
}

.containerInputRegister input::placeholder{
    background: #FEC1C1;
    font-family: "Mali", cursive;
    color: #FAEAE4;
}

.containerButtonRegister{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    margin-top: 20px;
}

.containerButtonRegister button{
    padding: 10px 10px;
    background-color: #FF9999;
    border: none;
    border-radius: 4px;
    color: #FAEAE4;
    cursor: pointer;
    font-family: "Mali", cursive;
}


/* Responsive */
@media (max-width: 440px) {
    .principalContainerRegister{
        width: 75vw;
        height: 60vh;
    }
    .containerInputRegister input{
        width: 60vw;
    }
    .containerButtonRegister{
        width: 60vw;
    }
}