.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.principalContainerAdminModalEdit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 71vh;
  padding: 20px;
  background-color: #faedd8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.containerDataAdminModalEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Mali", cursive;
}

.containerTitleAdminModalEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerTitleAdminModalEdit h1 {
  font-size: 1.5rem;
}

.containerInputAdminModalEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerInputAdminModalEdit input {
  width: 25vw;
  padding: 10px;
  margin: 5px 0;
  background-color: #fec1c1;
  border: 1px solid #ff9999;
  border-radius: 4px;
}

.containerInputAdminModalEdit input::placeholder {
  background: #fec1c1;
  font-family: "Mali", cursive;
  color: #faeae4;
}

.containerCheckboxAdminModalEdit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.containerCheckboxAdminModalEdit label {
  width: 25vw;
  padding: 10px;
  margin: 5px 0;
  background-color: #fec1c1;
  border: 1px solid #ff9999;
  border-radius: 4px;
  font-family: "Mali", cursive;
  color: #faeae4;
  gap: 10px;
}

.buttonEditImagesAdminModalEdit {
  padding: 10px 10px;
  background-color: #ff9999;
  border: none;
  border-radius: 4px;
  color: #faeae4;
  cursor: pointer;
  font-family: "Mali", cursive;
  width: 90%;
  margin: 10px;
}
.containerButtonAdminModalEdit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  gap: 5%;
}

.containerButtonAdminModalEdit button {
  padding: 10px 10px;
  background-color: #ff9999;
  border: none;
  border-radius: 4px;
  color: #faeae4;
  cursor: pointer;
  font-family: "Mali", cursive;
  width: 100%;
}

/* Responsive */
@media (max-width: 450px) {
  .principalContainerAdminModalEdit {
    width: 75vw;
    height: 68%;
  }

  .containerTitleAdminModalEdit h1 {
    font-size: 0.9rem;
  }

  .containerInputAdminModalEdit {
    width: 90%;
  }

  .containerInputAdminModalEdit input {
    width: 95%;
  }

  .containerCheckboxAdminModalEdit {
    width: 95%;
  }

  .containerCheckboxAdminModalEdit label {
    width: 90%;
  }

  .buttonEditImagesAdminModalEdit {
    width: 90%;
  }

  .buttonEditImagesAdminModalEdit button {
    width: 95%;
  }

  .containerButtonAdminModalEdit {
    width: 70%;
    gap: 12px;
  }
}

@media (max-width: 1000px) and (min-width: 450px) {
  .principalContainerAdminModalEdit {
    width: 75vw;
  }
  .containerInputAdminModalEdit {
    width: 90%;
  }
  .containerInputAdminModalEdit input {
    width: 95%;
  }

  .containerCheckboxAdminModalEdit {
    width: 90%;
  }

  .containerCheckboxAdminModalEdit label {
    width: 95%;
  }

  .buttonEditImagesAdminModalEdit {
    width: 90%;
  }

  .buttonEditImagesAdminModalEdit button {
    width: 95%;
  }

  .containerButtonAdminModalEdit {
    width: 70%;
    gap: 12px;
  }
}
