*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "mali" cursive;

}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #fdb4b4;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #ffe5bc;
}

button:hover{
  transform: scale(1.05);
}
