.productCard {
  background-color: #faedd8;
  width: 15vw;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.productImage {
  height: 55%;
  width: 85%;
  margin-bottom: 15px;
  margin-top: 10px;
}

.productData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Mali", cursive;
}

.productData h3 {
  color: #ff9797;
}

.productInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Mali", cursive;
  margin-bottom: 10px;
}
@media (max-width: 1250px) and (min-width: 730px) {
  .productCard {
    width: 18%;
    margin: 5px;
  }

  .productImage {
    height: 55%;
    width: 85%;
  }
}

@media (max-width: 730px) and (min-width: 600px) {
  .productCard {
    width: 23%;
    margin: 5px;
  }
}

@media (max-width: 600px) and (min-width: 460px) {
  .productCard {
    width: 31%;
    margin: 5px;
  }

}

@media (max-width: 460px) {
  .productCard {
    width: 46%;
    margin: 5px;
    height: 50%;
  }

}
