
.productCard{
    background-color: #FAEDD8;
    width: 15vw;
    height: 40vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productImage{
    width: 13vw;
    height: 12vw;
    margin-bottom: 15px;
}

.productData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Mali', cursive;
}

.productData h3{
    color: #FF9797;
}

.productInformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Mali', cursive;
}