.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.principalContainerAddStockModal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30vw;
	padding: 20px;
	background-color: #faedd8;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.containerDataAddStockModal {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Mali", cursive;
	height: 95%;
	justify-content: space-between;
}

.containerTitleAddStockModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	height: 30%;
}

.inputContainer input {
	width: 25vw;
	padding: 10px;
	margin: 5px 0 0 0;
	background-color: #fec1c1;
	border: 1px solid #ff9999;
	border-radius: 4px;
}

.inputContainer input::placeholder {
	background: #fec1c1;
	font-family: "Mali", cursive;
	color: #faeae4;
}

.containerButtonAddStockModal {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 12px;
	margin-top: 20px;
}

.containerButtonAddStockModal button {
	padding: 12px 24px;
	font-size: 1.2rem;
	background-color: #ff9999;
	border: none;
	border-radius: 6px;
	color: #faeae4;
	cursor: pointer;
	font-family: "Mali", cursive;
	transition: transform 0.2s ease, color 0.2s ease;
}

.containerButtonAddStockModal button:hover {
	transform: scale(1.05);
}

/* Responsive */
@media (max-width: 910px) {
	.principalContainerAddStockModal {
		width: 70vw;
		height: auto;
	}

	.containerTitleAddStockModal {
		font-size: 0.8rem;
	}
    .inputContainer {
		margin-bottom: 0;
	}
	.inputContainer input {
		width: 60vw;
	}

	.containerButtonAddStockModal button{
		font-size: 0.8rem;
	}
	
}
