.principalContainerHeader {
	display: flex;
	justify-content: center;
	padding: 0 20px;
	background-color: white;
	width: 100%;
	height: 10vh;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerButtonsHeader {
	display: flex;
	justify-content: space-around;
	width: 90%;
	gap: 20px;
}
.containerFilterButtonsHeader {
	display: flex;
	gap: 20px;
	align-items: center;
}


.containerFilterButtonsHeader button {
	background: none;
	border: none;
	font-family: "Mali", cursive;
	font-size: 35px;
	letter-spacing: 0;
	text-align: center;
	color: #f28d8d;
	cursor: pointer;
	transition: transform 0.2s ease, color 0.2s ease;
}

.principalButton button{
    font-size: 50px;
}

.containerFilterButtonsHeader button:hover {
	transform: scale(1.05);
	color: #e47070;
}
