.principalContainerProductsCatalog {
	width: 100%;
	height: 95%;
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	box-sizing: border-box;
}

.containerProductsCards {
	flex: 1;
	overflow-y: auto;
	background-color: #ffe5bc;
	padding: 20px;
	border-radius: 8px;
}

.productsCardsHolder {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

.pagination {
	padding: 6px 0;
	display: flex;
	gap: 6px;
	justify-content: center;
	align-items: center;
	background-color: #fff1e0;
}

.pageButton {
	padding: 4px 10px;
	font-size: 13px;
	background-color: #ff9999;
	color: #faeae4;
	cursor: pointer;
	border-radius: 6px;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.pageButton:hover {
	transform: scale(1.05);
}

.pageButton:disabled {
	border-color: #f4cfc2;
	color: #bda59c;
	background-color: #ffece6;
	cursor: not-allowed;
}

.activePageButton {
	background-color: #c57777;
	color: white;
	border-color: #c57777;
}

.principalContainerProductsCatalog {
	height: 95%;
}

 @media (max-width: 960px) {
  .productsCardsHolder {
    justify-content: space-evenly;
  }
}
