.principalContainerProductsCatalog{
    width: 99vw;
    height: 90%;
}

.containerProductsCards{
    background-color: #FFE5BC;
    height: 95%;
    max-height: 95%;
    display: flex;
    margin: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;

}
